body{
	background-image: url(../images/caves-background.jpg);
	background-repeat: no-repeat;
	background-size: 175%, 150%;
	background-position: center;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 20px;


}

section{
	margin-top: 3%;
	margin-left: 10%;
	padding: 5%;
	background-color: #B0C4DE;
	opacity: 0.6;
	width: 450px;
	border: 10px solid black;
	font-color:  ;
}


#randomNumber {
	margin-top: 3%;
	margin-left: 10%;
	padding: 25px;
	background-color: #7FFF00;
	opacity: 0.5;
	width: 200px;
	border: 10px solid black;

}

#scores {
	margin-top: 3%;
	margin-left: 10%;
	padding: 25px;
	background-color: #DDA0DD;
	opacity: 0.6;
	width: 200px;
	border: 10px solid black;
	
}

#clear, #green, #purple, #yellow{
	height: 100px;
	width: 100px;
	margin-top: 3%;
	margin: 3%;
}

#clear{
	margin-left: 10%;
}



img {
	border: 10px solid #B0C4DE;
}

#yourNum {
	margin:auto;
	padding: 25px;
	background-color: yellow;
	opacity: 0.6;
	width: 200px;
	border: 10px solid black;

}

