body{
	background-image: url(../images/caves-background.jpg);
	background-repeat: no-repeat;
	background-size: 200%, 175%;
	background-position: center;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 20px;
	align-items: center;


}

section{
	margin-top: 3%;
	margin-left: 30px;
	padding: 30px;
	background-color: #B0C4DE;
	opacity: 0.6;
	width: 600px;
	border: 10px solid black;
	height: auto;
	text-align: center;
	
}

h1 {
	font-size: 45px;
	text-align: center;
	margin-bottom: 15px;
}
#win{
	color: green;
	text-decoration: underline;
}

#lose{
	color: red;
	text-decoration: underline
}

#randomNumber
 {
	margin-top: 15px;
	margin-left: 40px;
	padding: 15px;
	background-color: #7FFF00;
	opacity: 0.5;
	width: 160px;
	border: 10px solid black;
	float: left;

}

#scores {
	margin-top: 15px;
	margin-left: 10px;
	padding: 15px;
	background-color: #DDA0DD;
	opacity: 0.6;
	width: 160px;
	border: 10px solid black;
	float: left;
	height: 60px;
}

#yourNum {
	margin-top: 15px;
	margin-left: 10px;
	padding: 15px;
	background-color: yellow;
	opacity: 0.6;
	width: 160px;
	border: 10px solid black;
	float: left;
	height: 60px;

}

.crystals {
	clear: both;

}

img {
	border: 10px solid #B0C4DE;
}

#clear, #green, #purple, #yellow{
	height: 100px;
	width: 100px;
	margin-top: 10px;
	margin: 20px;

	
}

#clear{
	margin-left: 53px;
	
}

p{
	text-align: center;
}
img:hover {
	opacity: 0.6;
	border-width:15px;	
    border-style:groove;
    border-color: white;
}










